{% extends "layout.html" %}

{% block title %}
    Remove patient
{% endblock %}

{% block main %}
    <form action="/remove_patient" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus name="name" class="form-control mx-auto w-auto" placeholder="Patient name" type="text">
        </div>
        <button class="btn btn-info mb-3" type="submit">search</button>
    </form>

    {% if data %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Time Registered</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <form action="/remover_patient" method="post">
                        <tr>
                            <input name="id" value="{{ row.patient_id }}" type="hidden">
                            <td>{{ row["patient_name"] }}</td>
                            <td>{{ row["p_dt"] }}</td>
                            <td><button class="btn btn-warning" onclick="return remover()">Delete</button></td>
                        </tr>
                    </form>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}